*{
  margin: 0px;
 padding: 0px;
}

strong{
  color: rgba(21, 2, 2, 0.645);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  
}
p{
  margin-top:15px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  
}
.name{
  font-size: 45px;
  text-align: center;
  font-family: monospace; 
  color:black;
}
span{
  
  font-family: Arial;
  letter-spacing: 3px;

}
a{
  text-decoration: none;
}
#morning{
  margin-top: 50px;
  height: 600px;
  display: block;
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
  
}
.slogan{

  text-align: center;
  letter-spacing: 5px;
}

.boutme{
  margin-top: 30px;
  text-align:center;
  
}
#higher{
  text-align: center;
  
}
.edu_info{
  text-align: right;
}
div.footer{
  background-color: rgb(14, 192, 189);
}
#same1,#same2{
  margin-top: 20px;;
  text-align:initial;
  color: black;
   
}
form{
   text-align: center;
}
.social-links{

    
  text-align: center;
  padding-bottom: 25px;
  color: aqua;
  background-color: rgb(31, 198, 228);
  line-height: 58px;
    
  }
  i{
    font-size: 34px;
    color: blue;
    display: inline-block;
    border-radius: 50%;
    line-height: 38px;
    height: 100px;
    width: 100px;
    margin-top: 200px;
  }
  li{
    color: black;
    font-size: 30px;
    font-family: arial;
    border:solid 2px green;
    display: inline-block;
    background-color: rgb(40, 86, 186);
    transition: 1.5s;
    border-radius: 5px;
    
  }
  li:hover{
    color: aqua;
  }
  .school1{
    border: 2px solid rgb(212, 228, 212);
    box-shadow: 0px 20px 50px 6.0px  rgba(114, 107, 107, 0.9);
    margin:  0px;
  }

  .School2{
    border: 2px solid rgb(212, 228, 212);
    box-shadow: 0px 20px 50px 6.0px  rgba(114, 107, 107, 0.9);
    margin:  0px;
  }
